.characters {
  padding: 20px;
  color: #fff;
  text-align: center;
}

.characters h2 {
  margin-bottom: 30px;
  font-size: 28px;
}

/* GRID */
.character-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  /* 👈 5 por linha */
  gap: 20px;
  justify-items: center;
}